In [1]:
#enumerate() allow you to iterate through a sequence but it keeps track of both the and index and the element.
student= ['Naveen', 'Ratna', 'Vivaan', 'Sridhar']

for name in enumerate(student):
    print(name)

(0, 'Naveen')
(1, 'Ratna')
(2, 'Vivaan')
(3, 'Sridhar')

In [4]:
#You can start index from any number 

for i, name in enumerate(student, 1):
    print(i, name)

1 Naveen
2 Ratna
3 Vivaan
4 Sridhar

In [6]:
#Zip

students_name= ['Naveen', 'Ratna', 'Vivaan', 'Sridhar']
students_marks= [53, 74, 62, 81]

student_details= list(zip(students_name, students_marks))
student_details

[('Naveen', 53), ('Ratna', 74), ('Vivaan', 62), ('Sridhar', 81)]

In [9]:
#Unzip

name,marks_num= zip(* student_details)
name

('Naveen', 'Ratna', 'Vivaan', 'Sridhar')

In [10]:
marks_num

(53, 74, 62, 81)

In [15]:
#enumerate and zip

students_name= ['Naveen', 'Ratna', 'Vivaan', 'Sridhar']
students_marks= [53, 74, 62, 81]

for i, (name, marks) in enumerate(zip(students_name, students_marks),1):
    print(i, name, marks)

1 Naveen 53
2 Ratna 74
3 Vivaan 62
4 Sridhar 81

In [19]:
#use of break statement inside a loop

city= ['Kolkata', 'Delhi', 'Hyderabad', 'Mumbai']

for val in city:
    if val == 'Hyderabad':
        break
    print(val)

Kolkata
Delhi

In [17]:
#As soon as the condition meets it will not chceck the next element.

Salary= [2000, 3800, 4000, 45000, 5000, 7000, 8000]

for val in Salary:
    if val >4600:
        break
    print(val)

2000
3800
4000

In [18]:
#Program to show the use of continue statement inside a loop.

city= ['Kolkata', 'Delhi', 'Hyderabad', 'Mumbai']

for val in city:
    if val == 'Delhi':
        continue
    print(val)

Kolkata
Hyderabad
Mumbai

In [21]:
Salary= [2000, 3800, 4000, 45000, 5000, 7000, 8000]

for val in Salary:
    if val >5500:
        continue
        
    print(val)

2000
3800
4000
5000