In [1]:
#range()

print(range(10))

range(0, 10)

In [2]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
#Range() with Start and stop 
Roll_numbers= list(range(1,8))
Roll_numbers

[1, 2, 3, 4, 5, 6, 7]

In [10]:
#Range function with step size

Step_size= list(range(0,33,2))

In [11]:
Step_size

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32]

In [12]:
Large_numbers= list(range(0,1600,100))
Large_numbers

[0,
 100,
 200,
 300,
 400,
 500,
 600,
 700,
 800,
 900,
 1000,
 1100,
 1200,
 1300,
 1400,
 1500]

In [14]:
Reverse= list(range(1600,100,-100))
Reverse

[1600,
 1500,
 1400,
 1300,
 1200,
 1100,
 1000,
 900,
 800,
 700,
 600,
 500,
 400,
 300,
 200]

In [17]:
#Def() or define function

def say_hello():
    print('This is just a sample')

In [19]:
say_hello()

This is just a sample

In [22]:
# %s is for extra space
def greeting(name):
    print('Hello' , name)

In [24]:
greeting('Dear Students')

Hello Dear Students

In [25]:
def salary_icr(salary):
    if salary <=9000:
        (salary+1000)
        
    else:
        salary
        
print('Your new salary= ', salary_icr(1500))

Your new salary=  None

In [29]:
def salary_icr(salary):
    if salary <=9000:
        return(salary+1000)
        
    else:
        return salary
    
print('Your new salary= ', salary_icr(9000))

Your new salary=  10000

In [30]:
def stud_marks(maths, science, english):
    return (maths+ science+ english)

print('Your total marks= ', stud_marks(55,65,80))

Your total marks=  200

In [35]:
total_marks= stud_marks(12,90,80)

if total_marks <90:
    print(total_marks, '- You are fail')
    
elif total_marks >90 and total_marks <150:
    print(total_marks, '- You are pass')
    
elif total_marks >151 and total_marks <250:
    print(total_marks, '- You are First Class')
    
else:
    print(total_marks, '- You are Distinction')

182 - You are First Class

In [39]:
def phone_price(phone_make, phone_age, phone_model_GB):
    if phone_make == 'iphone11':
        if 0 <phone_age<=6:
            if phone_model_GB == 64:
                print('Rs 39,283 - Rs 41,713')
            elif phone_model_GB ==128:
                print('Rs 45,835 - Rs 48, 670')
            
        if 6<phone_age<=12:
            if phone_model_GB == 64:
                print('Rs 29,823 - Rs 31,713')
            elif phone_model_GB ==128:
                print('Rs 35,835 - 38,670')
            
    elif phone_make == 'Samsung B110':
        if 0<phone_age<=6:
            print('Rs 853 - Rs 906')
        elif 6<phone_age<=12:
            print('Rs 711 - Rs 755')

In [40]:
phone_price('iphone11', 4, 64)

Rs 39,283 - Rs 41,713

In [41]:
#lambda() (We can't call it multiple times)

#lambda arguments : expression

add_num= lambda y:y + 30
print(add_num(50))

80

In [42]:
#Muliple arguments

multi_num= lambda a,b : a*b
print(multi_num(15,20))

300

In [2]:
#input from user/keyword
#program to take input from user

name= input("Enter Your name ")
print('You have entered -', name)

Enter Your name Preeti Singh
You have entered - Preeti Singh

In [5]:
#Check with only Integers
maths= int(input('Enter your maths score '))
science= int(input('Enter your science score '))

total_marks= maths + science
print('Your total marks-', total_marks)

Enter your maths score 80
Enter your science score 90
Your total marks- 170

In [12]:
#how to check with letters

name= input('Enter your name ')

if name.isalpha():
    print('Your name is ', name)
else:
    print('Only alpha charactors are allowed')

Enter your name Preeti
Your name is  Preeti

In [15]:
def phone_price(phone_make, phone_age, phone_model_GB):
    if phone_make == 'iphone11':
        if 0 <phone_age<=6:
            if phone_model_GB == 64:
                print('Rs 39,283 - Rs 41,713')
            elif phone_model_GB ==128:
                print('Rs 45,835 - Rs 48, 670')
            
        if 6<phone_age<=12:
            if phone_model_GB == 64:
                print('Rs 29,823 - Rs 31,713')
            elif phone_model_GB ==128:
                print('Rs 35,835 - 38,670')
            
    elif phone_make == 'Samsung B110':
        if 0<phone_age<=6:
            print('Rs 853 - Rs 906')
        elif 6<phone_age<=12:
            print('Rs 711 - Rs 755')

phone= input('Enter phone maker ')
months_old= int(input('Enter you phone age in numbers '))
capacity= int(input('Enter GB in numbers '))

phone_price(phone, months_old, capacity)

Enter phone maker iphone11
Enter you phone age in numbers 6
Enter GB in numbers 64
Rs 39,283 - Rs 41,713