In [2]:
location= ['Bengaluru', 'Noida', 'Chennai', 'Hyderabad', 'Delhi']

for i in location:
    print(i)

Bengaluru
Noida
Chennai
Hyderabad
Delhi

In [3]:
Salary= [200, 400, 500, 7000, 8000, 4500, 3800]

for value in Salary:
    if value >3500:
        print(value)

7000
8000
4500
3800

In [4]:
student_score= [35, 67, 78, 79, 12, 34, 67, 54, 89]

for marks in student_score:
    if marks >60:
        if marks >70:
            print (marks, '- Distinction')
        else:
            print(marks, '- First Class')
            
    elif marks >50 and marks <=60:
        print(marks, '- Second Class')
        
    elif marks >=35:
        print(marks, '- Pass')
        
    else:
        print(marks, '- Fail better luck next time')

35 - Pass
67 - First Class
78 - Distinction
79 - Distinction
12 - Fail better luck next time
34 - Fail better luck next time
67 - First Class
54 - Second Class
89 - Distinction

In [5]:
salary= [2000, 4000, 5000, 7000, 8000, 4000, 3800]

for value in salary:
    if value >5500:
        print(value)

7000
8000

In [6]:
sal= [value for value in salary if value >5500]
sal

[7000, 8000]

In [7]:
Daily_Sales = [100, 150, 100, 200, 150, 200, 300]

income_till_date = 0  #Variable to store the sum

for value in Daily_Sales:
    
    income_till_date = income_till_date + value
    print('Income till today - ', income_till_date)
    
print ('The total weekly income = ', income_till_date)

Income till today -  100
Income till today -  250
Income till today -  350
Income till today -  550
Income till today -  700
Income till today -  900
Income till today -  1200
The total weekly income =  1200

In [8]:
#for loop eith else

digits= [10, 20, 30]

for i in digits:
    print(i)
    
else:
    print('No items left')

10
20
30
No items left

In [11]:
#Use of while loop.
i = 0

while i <10:
    i = i + 1
    print(i, 'Data Trained')

1 Data Trained
2 Data Trained
3 Data Trained
4 Data Trained
5 Data Trained
6 Data Trained
7 Data Trained
8 Data Trained
9 Data Trained
10 Data Trained

In [12]:
#Another example of while loop.

import time
result= time.localtime()

while True:
    result= time.localtime()
    if result.tm_hour== 11 and result.tm_min== 3:
        print('Wake up buddy')
        break

Wake up buddy