In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
#You can give your own index name.

ser1= pd.Series(data=[1,2,3,4],index=['CA','OR','CO','AZ'])

In [4]:
ser1

CA    1
OR    2
CO    3
AZ    4
dtype: int64

In [5]:
print('\nIndexing by the name of the object/item (string indentifier)\n','-'*56,sep='')

print('\nValue for CA in ser1:', ser1['CA'])

print('\nValue for AZ in ser1:', ser1['AZ'])

Indexing by the name of the object/item (string indentifier)
--------------------------------------------------------

Value for CA in ser1: 1

Value for AZ in ser1: 4

In [7]:
#You can also fetch elements by its positional index.

print('\nIndexing by number (Posittional Value in the Series)\n','-'*56,sep='')
print('\nValue for CA in ser1:', ser1[0])
print('\nValue for AZ in ser1:',ser1[3])

Indexing by number (Posittional Value in the Series)
--------------------------------------------------------

Value for CA in ser1: 1

Value for AZ in ser1: 4

In [8]:
ser1

CA    1
OR    2
CO    3
AZ    4
dtype: int64

In [18]:
print('\nIndexing by a range\n------------------------------',sep='')

print('Value for OR, CO, and AZ in ser1:\n',ser1[1:4],sep='')

Indexing by a range
------------------------------
Value for OR, CO, and AZ in ser1:
OR    2
CO    3
AZ    4
dtype: int64

In [14]:
ser1= pd.Series([1,2,3,4,10],['CA','OR','CO','AZ','NV'])

ser2= pd.Series([1,2,5,4,30],['CA','OR','NV','PA','CO'])

In [17]:
print('Ser1\n',ser1,sep='')
print('*'*20,sep='')
print('Ser2\n',ser2,sep='')

Ser1
CA     1
OR     2
CO     3
AZ     4
NV    10
dtype: int64
********************
Ser2
CA     1
OR     2
NV     5
PA     4
CO    30
dtype: int64

In [20]:
#Let's add both the series.

ser3= ser1+ser2

print('\nAfter adding both the series, the result looks like this\n','-'*58,sep='')

print(ser3)

print('\nPython tries to add value where it finds common index name, and keeps NaN where indices are missing\n')

After adding both the series, the result looks like this
----------------------------------------------------------
AZ     NaN
CA     2.0
CO    33.0
NV    15.0
OR     4.0
PA     NaN
dtype: float64

Python tries to add value where it finds common index name, and keeps NaN where indices are missing