In [1]:
#Mean using stats

import statistics as st

x= [10,20,30,40,40,50,50,50,50,45,50,60,70,80]

print(st.mean(x))

46.07142857142857

In [2]:
#Median

print(st.median(x))

50.0

In [4]:
#Mode

print(st.mode(x))

50

In [6]:
import numpy as np

In [7]:
#Variance using numpy

x= [20,34,56]

avg= np.mean(x)

print(avg)

36.666666666666664

In [9]:
np.sum((np.square(20-avg)+ np.square(34-avg)+ np.square(56-avg))/3)

219.55555555555557

In [10]:


print('Variance- ',np.var(x))

Variance-  219.55555555555557

In [11]:
#Standard Devation- Square root of variance

print('std.Dv- ', np.std(x))

std.Dv-  14.817407180595247

In [12]:
import pandas as pd

In [13]:
#Quantiles

Y= [10,20,30,40,50,60,70,80]
y_= pd.DataFrame(Y)

y_.describe()

               0
count   8.000000
mean   45.000000
std    24.494897
min    10.000000
25%    27.500000
50%    45.000000
75%    62.500000
max    80.000000

In [16]:
#Probability Problem

#Randomly generating 1000 int between 30 to 100

from numpy.random import randint as ri

marks= ri(30,100,1000)

stu_marks= pd.Series(marks)

stu_marks.head()

0    61
1    75
2    36
3    42
4    37
dtype: int32

In [17]:
marks_mean= stu_marks.mean()

In [18]:
print('Mean Marks- ', marks_mean)

Mean Marks-  64.34

In [19]:
#Std

marks_std= stu_marks.std()

print('Standard Deviation is- ',marks_std)

Standard Deviation is-  20.131857631418224

In [22]:
#What is the probability of student scroring 50%

X=50

In [23]:
import scipy.stats as st

In [24]:
prob= st.norm.cdf(X, loc= marks_mean, scale= marks_std)

print(prob)

0.23813831560842957

In [25]:
# Z= (X-mean)/std

In [26]:
score= (X-marks_mean)/ marks_std
score

-0.712303864975713

In [27]:
#Check the score in Z table i.e==> Z-table.com

In [28]:
#problem 2

#Find the probability of getting marks 50 - 60

#For 50

(50- marks_mean)/ marks_std

-0.712303864975713

In [29]:
#For 60

(60- marks_mean)/ marks_std

-0.21557871506238466

In [30]:
#Now look into the z table for both 50 and 60, Difference is the probability.

In [31]:
probability =2389-4168

probability

-1779

In [32]:
#Test the null hypothesis

#HO(Null Hypothesis)= mileage is =>25 kmpl
#Ha or H1(Alternative Hypothesis)= mileage is <25 kmpl

import numpy as np

mean = 25

sample_mean = 24.2

std = 1.5

n = 30

In [33]:
z= (sample_mean - mean)/(std/np.sqrt(30))

z

-2.921186973360889

In [34]:
#using statistics tools

import scipy.stats as st

import numpy as np

p_value = st.norm.cdf(sample_mean,loc = mean, scale = std/np.sqrt(30))

p_value

0.0017435024460706768

In [38]:
#Conduct ttest when standard devation is not known.

import pandas as pd

hyp = pd.read_csv(r"C:\Users\singh\DataTrained Practice\Hypothesis ttest.csv")

hyp.head()

    ID  Gender  Race  SEB  School  Prog  Read  Write  Math1  Math2  SST
0   70       0     4    1       1     1    57     52     41     47   57
1  121       1     4    2       1     3    68     59     53     63   61
2   86       0     4    3       1     1    44     33     54     58   31
3  141       0     4    3       1     3    63     44     47     53   56
4  172       0     4    2       1     2    47     52     57     53   61

In [40]:
#Ho= mu >=60
#Ha= mu <=60

hyp['Math1'].mean()

52.645

In [41]:
alpha= 0.5

xbar= 52.645

mu= 60

In [42]:
#1 Sample ttest 

import scipy.stats as st

st.ttest_1samp(hyp.Math1,mu)

Ttest_1sampResult(statistic=-11.102736525713398, pvalue=1.3339158110547646e-22)

In [43]:
#Another way

s,p = st.ttest_1samp(hyp.Math1,mu)

In [44]:
s

-11.102736525713398

In [45]:
p

1.3339158110547646e-22

In [46]:
#Left tail value
p/2

6.669579055273823e-23

In [47]:
#2 Sample test

hyp.head()

    ID  Gender  Race  SEB  School  Prog  Read  Write  Math1  Math2  SST
0   70       0     4    1       1     1    57     52     41     47   57
1  121       1     4    2       1     3    68     59     53     63   61
2   86       0     4    3       1     1    44     33     54     58   31
3  141       0     4    3       1     3    63     44     47     53   56
4  172       0     4    2       1     2    47     52     57     53   61

In [48]:
hyp['Gender'].value_counts()

1    109
0     91
Name: Gender, dtype: int64

In [49]:
#How to subset the data based on gender

hyp[hyp['Gender'] == 1].Math1.head()

1     53
92    65
93    52
94    46
95    61
Name: Math1, dtype: int64

In [51]:
#Independent Sample

t,p = st.ttest_ind(hyp[hyp['Gender'] == 1].Math1, hyp[hyp['Gender'] == 0].Math1)

In [52]:
t

-0.41299864929688507

In [53]:
p

0.6800544974232143

In [54]:
#ANOVA TEST

#Step1 calculate the marks of each semester
#Step2 Calculate the grand mean
#Step3 Calculate Variations between, within
#Step4 Calculate the mean squared variance of between and within
#Step5 Calculate F Statistics and corresponding P value

In [60]:
import numpy as np

import statsmodels.formula.api as sm

In [61]:
import pandas as pd

hyp = pd.read_csv(r"C:\Users\singh\Files-main\Semester marks.csv")

hyp

     Student_ID  Semester  Total_Marks
0             1         1          365
1             2         3          376
2             3         1          411
3             4         3          436
4             5         2          366
..          ...       ...          ...
195         196         1          431
196         197         3          330
197         198         1          311
198         199         1          358
199         200         2          468

[200 rows x 3 columns]

In [62]:
mod= sm.ols('Total_Marks ~ Semester', data= hyp).fit()

mod

In [64]:
import statsmodels.api as k

aov_table= k.stats.anova_lm(mod,type = 1)

aov_table

             df         sum_sq      mean_sq         F    PR(>F)
Semester    1.0     291.846746   291.846746  0.102572  0.749102
Residual  198.0  563366.873254  2845.287239       NaN       NaN

In [65]:
#Let's see manually if the average marks of each semester are close to each other.

In [68]:
#Semester 1 Average marks

print('1st Sem average marks- ', np.ceil(hyp['Total_Marks'][hyp['Semester'] == 1].mean()))

print('2nd Sem average marks- ', np.ceil(hyp['Total_Marks'][hyp['Semester'] == 2].mean()))

print('3rd Sem average marks- ', np.ceil(hyp['Total_Marks'][hyp['Semester'] == 3].mean()))

1st Sem average marks-  403.0
2nd Sem average marks-  393.0
3rd Sem average marks-  406.0

In [71]:
#Chi-Square Test

import numpy as np

#Expected=[25,28,21,30,45,58,57]
#Observed=[23,26,25,31,48,63,50]

chi_ind= [np.square(23-25)/25,
         np.square(26-28)/28,
         np.square(25-21)/21,
         np.square(31-30)/30,
         np.square(48-45)/45,
         np.square(63-58)/58,
         np.square(50-57)/57]

print('Our chi-Square Test Statistics score- ',np.sum(chi_ind))

Our chi-Square Test Statistics score-  2.5887788436608763