In [1]:
#Anything we are writing in single or double quote is called string.
print("Hello World")

Hello World

In [2]:
#We can join strings by adding comma "," or plus "+" sign.
print("My ","name ","is ","Preeti ","Singh")

My  name  is  Preeti  Singh

In [5]:
print('Day ' * 5)

Day Day Day Day Day

In [6]:
#To create a list we can use square brackets [] or use the list() function with no agrguements.
l = [] #empty list
l = ['b', 'b', 'c']

In [7]:
print(l)

['b', 'b', 'c']

In [8]:
l = ['a', 6, 9.16]
print(l)

['a', 6, 9.16]

In [9]:
#How to copy into other list.(Reassigning)
l2 = list(l)

In [10]:
print(l2)

['a', 6, 9.16]

In [11]:
marks= [35, 45, 60, 80, 100]

In [12]:
print(marks)

[35, 45, 60, 80, 100]

In [14]:
#Reassigning using copy function.
copy_marks= marks.copy()
copy_marks

[35, 45, 60, 80, 100]

In [15]:
#Only work on strings
list('Shankar')

['S', 'h', 'a', 'n', 'k', 'a', 'r']

In [32]:
#Add element in a list using append method.

company = []

company.append('Preeti')

print(company)

['Preeti']

In [33]:
company.append('Roshan')
company.append('Salman')
company.append('Radha')

print(company)

['Preeti', 'Roshan', 'Salman', 'Radha']

In [38]:
#index and insert. This method places the element at the specified index. Index starts with 0.

company.insert(1, "D' Souza")

print(company)

['Preeti', "D' Souza", 'Roshan', 'Salman', 'Radha']

In [40]:
#One more example with numbers.

employee_Salary= [15000, 28000, 19000, 20000]
employee_Salary.insert(0, 48000)

In [41]:
employee_Salary

[48000, 15000, 28000, 19000, 20000]

In [43]:
# How to check total element in the list?
len(company)

5

In [44]:
#Index and Slicing. Grab element based on index.
company[2]

'Roshan'

In [45]:
#Update data based on index.
company[1] = "Remo"
company

['Preeti', 'Remo', 'Roshan', 'Salman', 'Radha']

In [47]:
#Let's check with numbers.
employee_Salary[1] = 20000
employee_Salary

[48000, 20000, 28000, 19000, 20000]

In [49]:
#Grab index 1 and everything past it. Starting indez will always be inccluded.
company[1: ]

['Remo', 'Roshan', 'Salman', 'Radha']

In [51]:
#Grab everything upto index 2. specified index will be excluded from the end.
employee_Salary[ :3]

[48000, 20000, 28000]

In [52]:
employee_Salary[1:3]

[20000, 28000]

In [53]:
# We can use + sign to concatenate list. Just like we did using append() with strings.
employee_Salary + [25000]
employee_Salary

[48000, 20000, 28000, 19000, 20000]

In [54]:
#We can use * for duplication methiod similar to string.

employee_Salary * 2

[48000, 20000, 28000, 19000, 20000, 48000, 20000, 28000, 19000, 20000]

In [55]:
print('=' * 90)
print('                                        Data Trained                                             ')
print('=' * 90)

==========================================================================================
                                        Data Trained
==========================================================================================

In [58]:
#Let's check count of a specific element in a list.

marks=[25, 100, 38, 49, 55, 38, 100, 26, 47, 55, 100, 60, 74, 88, 38, 100]
marks.count(38)

3

In [59]:
#Check index position a specific element.
marks.index(88)

13

In [60]:
#Extends list by appending elements from the iterable.

company.extend(['Suparna', 'Neha'])
company

['Preeti', 'Remo', 'Roshan', 'Salman', 'Radha', 'Suparna', 'Neha']

In [65]:
employee_Salary.extend([50000, 90000])
employee_Salary

[48000, 20000, 28000, 19000, 20000, 50000, 90000, 50000, 90000]

In [68]:
Students= ['Raj', 'Ram', 'Adiba', 'Nancy', 'Fatima']

Students

['Raj', 'Ram', 'Adiba', 'Nancy', 'Fatima']

In [69]:
#Delete last element by default.

pop_last= Students.pop()
pop_last

'Fatima'

In [71]:
#Let's verify if it is removed.

Students

['Raj', 'Ram', 'Adiba', 'Nancy']

In [2]:
#Delete based on index position.
Students= ['Raj', 'Ram', 'Adiba', 'Nancy', 'Fatima']
pop_index= Students.pop(1)
pop_index

'Ram'

In [3]:
Students

['Raj', 'Adiba', 'Nancy', 'Fatima']

In [8]:
#Remove method removes the first occurance of a same value.If there are any duplicates, first element will be removed.

Roll_number= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Roll_number.remove(5)
Roll_number

[1, 2, 3, 4, 6, 7, 8, 9, 10]

In [11]:
#reverse() helps us to revers a list.
Colours= ['Red', 'Green', 'Blue']
Colours.reverse()
Colours

['Blue', 'Green', 'Red']

In [12]:
#sort the list.
marks=[25, 100, 38, 49, 55, 38, 100, 26, 47, 55, 100, 60, 74, 88, 38, 100]
marks.sort()
marks

[25, 26, 38, 38, 38, 47, 49, 55, 55, 60, 74, 88, 100, 100, 100, 100]

In [14]:
#Sort in decending order.
marks.sort(reverse = True)
marks

[100, 100, 100, 100, 88, 74, 60, 55, 55, 49, 47, 38, 38, 38, 26, 25]

In [15]:
Roll_number.sort(reverse = True)
Roll_number

[10, 9, 8, 7, 6, 4, 3, 2, 1]

In [16]:
#Tuples

Work_location= ('Bengaluru', 'Noida', 'Chennai', 'Delhi')
Work_location

('Bengaluru', 'Noida', 'Chennai', 'Delhi')

In [17]:
type(Work_location)

tuple

In [18]:
#convert tuple into a list.

Work_location= list(Work_location)

Work_location

['Bengaluru', 'Noida', 'Chennai', 'Delhi']

In [19]:
type(Work_location)

list

In [20]:
Work_location= tuple(Work_location)
Work_location

('Bengaluru', 'Noida', 'Chennai', 'Delhi')

In [21]:
len(Work_location)

4

In [22]:
Work_location[1]

'Noida'

In [23]:
Work_location[-1]

'Delhi'